<br>

<h2>Add a new Consultation</h2>
<form [formGroup]="addconsultationForm">
    <input formControlName="date" placeholder="Date" type="date">
    <div *ngIf="addconsultationForm.get('date').errors?.required && addconsultationForm.get('date').invalid && addconsultationForm.get('date').dirty">
      Field is required
    </div>
    <br>
    <input formControlName="medication" placeholder="Medication">
    <div *ngIf="addconsultationForm.get('medication').errors?.required && addconsultationForm.get('medication').invalid && addconsultationForm.get('medication').dirty">
      Field is required
    </div>
    <br>
    <input formControlName="dosage" placeholder="Dosage">
    <div *ngIf="addconsultationForm.get('dosage').errors?.required && addconsultationForm.get('dosage').invalid && addconsultationForm.get('dosage').dirty">
      Field is required
    </div>
    <br>
    <input formControlName="extraInfo" placeholder="Extra Info">
    <div *ngIf="addconsultationForm.get('extraInfo').errors?.required && addconsultationForm.get('extraInfo').invalid && addconsultationForm.get('extraInfo').dirty">
      Field is required
    </div>
    <br>
    <button class="btn btn-primary" type="submit" (click)="addconsultation()">Add Consultation</button>
</form>

<br>


<h2>Consultations of Patient</h2>
<table>
  <thead>
    <tr class="table_info">
      <th>Patient ID</th>
      <th>ID</th>
      <th>Date</th>
      <th>Medication</th>
      <th>Dosage</th>
      <th>Extra Info</th>
    </tr>
  </thead>
  <tr *ngFor="let consultation of consultations">
    <!-- <td router-link="doctors/id/patients/id">{{patient.id}}</td> -->
    <td>{{consultation?.patientId}}</td>
    <td>{{consultation?.id}}</td>
    <td>{{consultation?.date}}</td>
    <td>{{consultation?.medication}}</td>
    <td>{{consultation?.dosage}}</td>
    <td>{{consultation?.extraInfo}}</td>
    <td> <a [routerLink]="['/consultation-doctor/',consultation.id]"> Modify</a> </td> 
    <!-- consultation.patientId, -->
  </tr>
</table>

<!-- <script>
  document.getElementById("consultation_id").onclick = function(){
    console.log(this.id);
  }
</script> -->
