.form-group{
  width: 20%;
  margin-left: 30%;
}

.btn-primary{
  width: 20%;
  margin-left: 30%;
}

#password2{
  width: 20%;
  margin-left: 30%;
  margin-right: 30%;
}

.signup-header{
  width: 20%;
  margin-left: 30%;
  margin-right: 30%;
}