<br>
<h2>Doctors with no activity over a time range</h2>
<form [formGroup]="calendarForm">
  <div>
    <input formControlName="startDate" placeholder="Start Date" type="date">
    <input formControlName="endDate" placeholder="End Date" type="date">
  </div>
  <button class="btn btn-primary" type="submit" (click)="adddates()">Submit Range</button>
</form>
<br>
<br>
<h2>Doctors with no activity</h2>
<table>
  <thead>
    <tr class="table_info">
      <th>ID</th>
      <th>Name</th>
    </tr>
  </thead>
  <tr *ngFor="let doctor of doctors">
    <td>{{doctor?.id}}</td>
    <td>{{doctor?.name}}</td>
  </tr>
</table>
